<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zFilterProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MyFirstFilter</display-name>
    <filter-name>MyFirstFilter</filter-name>
    <filter-class>filter.MyFirstFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFirstFilter</filter-name>
    <url-pattern>/MyServlet</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>MySecondFilter</display-name>
    <filter-name>MySecondFilter</filter-name>
    <filter-class>filter.MySecondFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MySecondFilter</filter-name>
    <url-pattern>/MyServlet</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>MyThirdFilter</display-name>
    <filter-name>MyThirdFilter</filter-name>
    <filter-class>filter.MyThirdFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyThirdFilter</filter-name>
    <url-pattern>/MyThirdFilter</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>listenerDemo.ContextSessionRequestListener</listener-class>
  </listener>
</web-app>